@import "reset.css";

html {
    -webkit-font-smoothing: antialiased;
}

body {
    background: black;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.6px;
}

.container {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    box-sizing: border-box;
}

.info {
    width: 50%;
    height: 100vh;
    box-sizing: border-box;
    padding: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

h1 {
    cursor: default;
}

.info ul {
    width: 180px;
    display: flex;
    flex-direction: column;
}

.about {
    width: 720px;
    height: 100%;    
    box-sizing: border-box;
    padding: 48px 56px 48px 48px;
    display: flex;
    flex-direction: column;
    margin-bottom: 192px;
}

.about ul {
    display: none;
}


a:link, a:active, a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    opacity: 0.4;
}

@media (max-width: 500px) {

    body {
        font-size: 20px;
        line-height: 28px;
    }

    .container {
        flex-direction: column;
    }

    .info {
        height: 100%;
        width: 308px;
        padding: 28px 28px 0;
        position: unset;
    }

    .info ul {
        display: none;
    }

    .about {
        width: 321px;
        height: 100%;
        padding: 28px;
    }

    .about ul {
        width: 100px;
        margin-top: 28px;
        display: flex;
        flex-direction: column;
    }

    



}