@import "reset.css";

body {
    background: black;
    color: white;
    font-family: "neue-haas-grotesk-text", "Helvetica Neue", Helvetica, "Roboto", Arial, sans-serif;
    font-size: 40px;
    line-height: 48px;
    font-weight: 400;
    letter-spacing: -0.4px;
}

.container {
    width: 100%;
    height: 100vh;
    padding: 24px;
    box-sizing: border-box;
}

span {
    text-decoration-line: line-through;
}

a:link, a:active, a:visited, a:after {
    text-decoration: none;
    color: white;
    transition: ease-in-out 0.2s;
}

a:hover {
    opacity: 0.4;
    transition: ease-in-out 0.2s;   
}

@media (max-width: 500px) {
    body {
        background: white;
        color: black;
    }

    a:link, a:active, a:visited, a::after {
        color: black;
    }
}