@import "reset.css";

body {
    background: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
}

.container {
    width: 100%;
    height: 100vh;
    background: black;
    padding: 72px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

p {
    font-size: 48px;
    line-height: 48px;
}

span {
    text-decoration-line: line-through;
}

a:link, a:active, a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    opacity: 0.4;   
}

@media (max-width: 500px) {

p {
    font-size: 24px;
    line-height: 32px;
}
    
.container {
    padding: 40px;
    justify-content: start;
}

.div {
    margin-bottom: 40px;
}

}